<div fxLayout="column">
  <div class="flex-p">
    <mat-card>
      <mat-card-header fxLayoutAlign="left left">
        <div fxFlex="30">
          <mat-card-subtitle><h3>{{paramDustName}}</h3></mat-card-subtitle>
        </div>
        <div fxFlex="70" style="margin-bottom: 5px;text-align: right;">
          <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="saveDustConfig()">저장</button>
          <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="cancelDustConfig()">취소</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" class="dust-form">
          <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="100" fxLayout="row" >
              <p fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field class="w-50">
                  <!--<input matInput placeholder="타입" formControlName="m_byMode">-->
                  <mat-select placeholder="타입" formControlName="m_byMode">
                    <mat-option value="0">PANNEL</mat-option>
                    <mat-option value="1">LINK</mat-option>
                    <mat-option value="2">REMOTE</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="동작차압" formControlName="m_wAuto_puls_val">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="필터교체" formControlName="m_wTime_change_fileter">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="과전류" formControlName="m_byOver_current">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="EOCR지연" formControlName="m_byDelay_eocr">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="과차압" formControlName="m_wAlarm_pressure">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="펄스시간" formControlName="m_wPuls_open_time">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="펄스지연" formControlName="m_wPuls_delay_time">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="펄스선택" formControlName="m_byPuls_sel">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput>
                </mat-form-field>
              </p>
              <p fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field class="w-50">
                  <input matInput placeholder="밸브선택" formControlName="m_byValve_sel">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="인버터 출력" formControlName="m_byInverter_out">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="A/O설정" formControlName="m_wAnalog_out">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <!--<input matInput placeholder="수동펄싱 선택" formControlName="m_byManual_hauto_puls">-->
                  <mat-select placeholder="수동펄싱 선택" formControlName="m_byManual_hauto_puls">
                    <mat-option value="0">MANUAL</mat-option>
                    <mat-option value="1">AUTO</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="팬동작 시간" formControlName="m_byFan_on_time">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="수동 펄싱" formControlName="m_byManual_puls_cycle">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <!--<input matInput placeholder="집진기 종류" formControlName="m_byType">-->
                  <mat-select placeholder="집진기 종류" formControlName="m_byType">
                    <mat-option value="0">PULS</mat-option>
                    <mat-option value="1">SHAKE</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <!--<input matInput placeholder="모터갯수" formControlName="m_byMotor_num">-->
                  <mat-select placeholder="모터갯수" formControlName="m_byMotor_num">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <!--<input matInput placeholder="언어" formControlName="m_byLanguage">-->
                  <mat-select placeholder="언어" formControlName="m_byLanguage">
                    <mat-option value="0">KOREAN</mat-option>
                    <mat-option value="1">ENGLISH</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="비밀번호" formControlName="m_wPassword">
                </mat-form-field>
              </p>
              <p fxFlex="20" fxLayout="column" fxLayoutAlign="left left">
                <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="setReset('m_byAll_reset')">설정 초기화</button>
                <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="setReset('m_byPower_acc_reset')">적산전력 초기화</button>
                <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="setReset('m_byAlarm_history_reset')">알람 초기화</button>
                <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="setReset('m_byRuntime_reset')">운전시간 초기화</button>
                <br><br><br>
                <mat-form-field class="w-50">
                  <input matInput [matDatepicker]="startDate" placeholder="시작일" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput [matDatepicker]="endDate" placeholder="종료일" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
                <mat-checkbox formControlName="isAlarmList">알람 내역</mat-checkbox>
                <button mat-raised-button class="m-1" style="line-height: 28px !important;" (click)="saveReports()">데이터값 저장</button>
              </p>
              <p fxFlex="10" fxLayout="column" fxLayoutAlign="left left">
              </p>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
