<div fxLayout="row wrap" *ngIf="!isViewDashboard">
    <div fxFlex="100" fxFlex.gt-sm="90" class="flex-p">

        <div *ngIf="'grid' == 'grid'" fxLayout="row wrap">
            <div *ngFor="let dust of dusts; let i = index;" fxFlex="100" fxFlex.gt-md="20" fxFlex.md="20" class="flex-p">
                <mat-card class="p-0" style="shape-image-threshold: inherit">
                    <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center" style="height:30px;">
                        <h3 *ngIf="dust.dustName" class="user-name"><a mat-button (click)="goDustConfig(this.paramData[i],dust.dustName,'dashboard');">{{dust.dustName}}</a> ({{dust.dustType}})</h3>
                    </div>
                    <div *ngIf="m_byType[i] == 0">
                        <div style="margin-bottom:-6px;margin-top:10px;">
                            <img *ngIf="this.fan1View == 1 && !alarmError" src="assets/img/users/fan2.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'1','fan')">
                            <img *ngIf="this.fan1View == 0 && !alarmError" src="assets/img/users/fan1.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'0','fan')">
                        </div>
                        <div>
                            <img *ngIf="this.pulsView == 1 && !alarmError" src="assets/img/users/filter2.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'1','puls')">
                            <img *ngIf="this.pulsView == 0 && !alarmError" src="assets/img/users/filter1.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'0','puls')">
                        </div>
                        <div class="fan-img" *ngIf="isViewError" class="fan-img" style="margin-top:10px;">
                            <img  src="assets/img/users/networker.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'1','puls')">
                        </div>
                        <div *ngIf="m_byaAlarm_arr[i] === '1'" class="fan-img" style="margin-top:10px;">
                            <img *ngIf="this.fan1View == 1 && !alarmError" src="assets/img/users/fan2.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'1','fan')">
                            <img *ngIf="this.fan1View == 0 && !alarmError" src="assets/img/users/fan1.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'0','fan')">

                            <img src="assets/img/users/filterch.gif" class="transition-2" style="width:170px;margin-left: 20px;"/>
                        </div>
                        <div *ngIf="m_byaAlarm_arr[i] === '20'" class="fan-img" style="margin-top:10px;">
                            <img src="assets/img/users/overcu.gif" class="transition-2" style="width:170px;margin-left: 20px;"/>
                        </div>
                        <div *ngIf="m_byaAlarm_arr[i] === '40'" class="fan-img" style="margin-top:10px;">
                            <img *ngIf="this.fan1View == 1 && !alarmError" src="assets/img/users/fan2.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'1','fan')">
                            <img *ngIf="this.fan1View == 0 && !alarmError" src="assets/img/users/fan1.gif" class="transition-2" style="width:170px;margin-left: 20px;" (click)="setFanMode1(currentDeviceData[i],'0','fan')">

                            <img src="assets/img/users/overdi.gif" class="transition-2" style="width:170px;margin-left: 20px;"/>
                        </div>
                        <div *ngIf="m_byaAlarm_arr[i] === '10' || m_byaAlarm_arr[i] === '20'" class="fan-img" style="margin-top:10px;">
                            <img src="assets/img/users/balancecu.gif" class="transition-2" style="width:170px;margin-left: 20px;"/>
                        </div>
                        <div style="margin-top:5px;width:220px;">
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked">
                                    <mat-chip class="custom-chip" *ngIf="dust.m_wPower_value" style="text-align: center">전압 {{m_wPower_value[i]}} V</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked">
                                    <mat-chip class="custom-chip" *ngIf="dust.m_wAuto_puls_val">차압 {{m_wPressure[i]}} mmAq</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked" style="display:inline; !important;">
                                    <mat-chip class="custom-chip" *ngIf="dust.m_waCurrent_nowx10">전류 {{m_waCurrent_nowx10[i]}} A</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked">
                                    <mat-chip class="custom-chip" *ngIf="dust.m_fParam_power">전력 {{m_fParam_power[i]}} kW/h</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked"><!--m_byValve_sel-->
                                    <mat-chip class="custom-chip" *ngIf="dust.m_byReserved">벨브 {{m_byValve_sel[i]}} </mat-chip>
                                </mat-chip-list>
                            </div>
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked">
                                    <mat-chip class="custom-chip" *ngIf="dust.m_byReserved">인버터 {{m_byReserved[i]}} %</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div style="width:150px;margin-left: 25px;margin-bottom: 5px;" >
                                <mat-chip-list class="mat-chip-list-stacked">
                                    <mat-chip class="custom-chip" *ngIf="m_byType[i] === '0'">PANNEL</mat-chip>
                                    <mat-chip class="custom-chip" *ngIf="m_byType[i] === '1'">LINK</mat-chip>
                                    <mat-chip class="custom-chip" *ngIf="m_byType[i] === '2'">REMOTE</mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                    </div>

                </mat-card>

            </div>
        </div>
    </div>
</div>

<app-dashboard-list *ngIf="isViewDashboard" [pushParamData]="pushParamData" (cancelViewDashboard)="backDustDashboard($event)" [paramDustName]="paramDustName"></app-dashboard-list>
